@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    font-family: 'Poppins', sans-serif;
    color: white;
    background: linear-gradient(to right,#010323, #032a4c);

}
.container
{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header
{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #0A1D37;
    z-index: 1000;

}

.nav-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo
{
    justify-content: center;
}
.nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 60px;
}
.nav a
{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}
nav a:hover
{
    text-decoration: underline;
}
.btn
{
    background-color: #FF6F00;
    height: 40px;
    width: 120px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 4px 15px rgba(230, 153, 0, 0.641);
}
.btn:hover
{
    background-color: #018b8b;
    box-shadow: 0 4px 15px rgba(2, 242, 242, 0.641);
}
body{
    line-height: 1.6;
}
img{
    width: 100%;
    display: block;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 15px 0;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container{
    width: 90vw;
    margin: 0 auto;
}
.section-four{
    margin: 40px 0;
}
.blog{
    margin: 40px 0;
}
.blog-content{
    padding: 25px;
    background: #033f84;
}
.blog span{
    display: block;
}
.badge{
    background: #86c232;
    width: 140px;
    border-radius: 5px;
    padding: 5px 0;
    color: #fff;
    text-align: center;
    margin-bottom: 8px;
}
.misc-info{
    font-size: 14px;
    color: #111;
    margin-top: 16px;
}
.blog-title{
    font-size: 20px;
    font-weight: 900;
}
.blog-text{
    font-weight: 300;
}

footer
{
    margin-top: auto;
}

.footer {
  width: 100%;
  background: #10182F;
  padding: 40px 0;
}

.footer .footer-row {
  width: 90%;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px 0;
}
.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}
.footer-col .links {
  margin-top: 20px;
}
.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}
.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}
.footer-col .links li a:hover {
  color: #fff;
}
.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}
.footer-col form {
  display: flex;
  gap: 5px;
}
.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489C6 ;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}
.footer-col input::placeholder {
  color: #ccc;
}
.footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}
.footer-col form button:hover {
  background: #cecccc;
}
.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}
.footer-col .icons i {
  color: #afb6c7;
}
.footer-col .icons i:hover  {
  color: #fff;
}

@media screen and (min-width: 800px){
    .blog-wrapper-sm{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    
}

@media screen and (min-width: 1400px){
    .blog-wrapper-sm{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 600px){
    .blog-wrapper-sm{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    
}
@media screen and (min-width: 1000px){
    .blog-wrapper-lg{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }   
}
@media screen and (min-width: 1400px){
    .blog-wrapper-sm{
        grid-template-columns: repeat(4, 1fr);
    }
}





